"env": {
  "development": {
    "presets": [
      [
        "@babel/env",
        {
          "modules": false
        }
      ],
      "@babel/react"
    ]
  },
  "test": {
    "presets": [
      "@babel/env",
      "@babel/react"
    ]
  },
  "production": {
    "presets": [
      [
        "@babel/env",
        {
          "modules": false
        }
      ],
      "@babel/react"
    ],
    "plugins": [
      "@babel/plugin-transform-react-constant-elements",
      "@babel/plugin-transform-react-inline-elements"
    ]
  }
}